:root {
	--clr-darkGray: #6a6a6a;
	--clr-veryDarkBlue: #333346;
	--clr-veryLightBlue: #f0f5f9;
	--clr-limeGreen: #25be73;
	--bg-success: #25be73;
	--bg-primary: #3398da;
}

body {
	color: var(--clr-darkGray);
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Open Sans';
}

a:visited,
a:link {
	color: var(--clr-darkGray);
}

h2 {
	color: var(--clr-veryDarkBlue);
}
.no-inline-padding {
	padding-inline: unset !important;
}
.text-success {
	color: var(--clr-limeGreen) !important;
}
.fw-5 {
	font-weight: 500;
}
.p-6 {
	padding: 6rem 0;
}

.full-heigh {
	min-height: calc(100vh - 170px);
}

.hero-section {
	background-color: var(--clr-veryLightBlue);
}

.h2-heading {
	/* font-size: 3rem; */
	font-weight: 900;
}

.btn {
	padding-inline: 3rem;
	/* text-transform: uppercase; */
}
a.btn-outline-primary:hover,
a.btn-outline-primary {
	border: 3px solid var(--bg-primary);
	color: var(--bg-primary);
}

a.btn-outline-primary:hover {
	color: #fff;
	background-color: var(--bg-primary);
	border: 3px solid var(--bg-primary);
}

a.btn-success:hover,
.btn-success {
	background-color: var(--bg-success);
	border: 3px solid var(--bg-success);
}
.btn-success:visited {
	color: #fff;
}

/* second section */
.flex-40 {
	flex: 0.4;
}

.gap-3 {
	gap: 3rem;
}

.card-start {
	background-color: #fff1e4;
}

.card-middle {
	background-color: #f8f9fa;
	
}

.card-end {
	background-color: #f0f5f9;

}
