{% extends "layout.html" %}

<!-- {% block script %}
<script src="/static/main.js" async></script>
{% endblock %} -->

{% block title %} Log In {% endblock %} {% block main %}
<form
	autocomplete="off"
	action="/quote"
	method="post"
	class="container bg-white position-relative p-0"
	style="width: 400px"
>
	<div class="row">
		<div class="col-md m-auto">
			<div class="form-group">
				<input
					autofocus
					class="form-control form-control-lg"
					id="search"
					name="quote"
					placeholder="Type symbol to quote"
					type="search"
					value
				/>
			</div>
			<div
				id="list-container"
				class="overflow-scroll position-absolute w-100 hide"
				style="height: 15rem"
			>
				<div
					class="list-group-flush position-relative"
					id="match-list"
				></div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary mt-3" type="submit">Quote</button>
</form>
{% if requested_quote %}
<p class="fs-6 mt-3 px-0 w-100">A share of {{requested_quote.name}} ({{ requested_quote.symbol}}) costs {{usd(requested_quote.price)}}</p>
{% endif%}

<script type="text/javascript">window.data = '{{data.result|tojson}}'</script>
<script src="/static/main.js"></script>
{% endblock %}
