{% extends "layout.html" %}

<!-- {% block script %}
<script src="/static/main.js" async></script>
{% endblock %} -->

{% block title %} Log In {% endblock %} {% block main %}
<form
	autocomplete="off"
	action="/quote"
	method="post"
	class="container bg-white position-relative"
	style="width: 400px;"
>
	<div class="row">
		<div class="col-md m-auto px-0">
			<div class="form-group">
				<input
					autofocus
					class="form-control form-control-lg"
					id="search"
					name="quote"
					placeholder="Type symbol to quote"
					type="search"
					value
				/>
			</div>
			<div id="list-container" class="overflow-scroll position-absolute w-100 hide" style="height: 15rem">
				<div
					class="list-group-flush position-relative"
					id="match-list"
				></div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary mt-3" type="submit">Quote</button>
</form>

<script type="text/javascript">
	let search = document.getElementById('search');
	let matchList = document.getElementById('match-list');
	let listContainer = document.getElementById('list-container');
	let symbolSelection = null;

	// search for company symbol name and filtered
	const searchSymbol = async (searchText) => {
		const symbols = JSON.parse('{{data.result | tojson}}');
		listContainer.classList.remove('hide')
		listContainer.classList.add('show')
        matchList.innerHTML = '';

		// Get matches to current  text input
		let matches = symbols.filter((symbol) => {
			const regex = new RegExp(`^${searchText}`, 'gi');
			return symbol.s.match(regex) || symbol.n.match(regex);
		});

		if (searchText.length == 0) {
			matches = [];
		}
		outputHtml(matches);
	};
	const outputHtml = (matches) => {
		if (matches.length > 0) {
			const html = matches
				.map(
					(match) => `
            <div class="list-item list-group-item text-start lh-1" data-symbol="${match.s}">
                <h6 class="mb-0  text-primary">${match.s}</h6>
                <small class="text-secundary">${match.n}</small>
            </div>
                `,
				)
				.join('');
			matchList.innerHTML = html;
			symbolSelection = document.querySelectorAll('.list-item');
		}

        // Set the value for the input field
		symbolSelection.forEach((symbol) => {
			symbol.addEventListener('click', setSearchValue)
		});
	};

	function setSearchValue() {
        const symbolName = this.dataset.symbol
        search.value = symbolName;
        matchList.innerHTML = '';
        listContainer.classList.add('hide')
        listContainer.classList.remove('show')
	};

	search.addEventListener('input', () => searchSymbol(search.value));

</script>
{% endblock %}
