{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post" >
        <div class="container-sm bg-white p-4" style="width: 400px; border-radius: 1rem;">
            <h3 class="pb-4">Create your account</h3>

            <div class="mb-4">
                <input autocomplete="off" autofocus class="form-control " id="username" name="username" placeholder="Username *" type="text">
            </div>
            <div class="mb-2  text-start">
                <input class="form-control " id="password" name="password" placeholder="Password *" type="password">
                <span class="text-black-50" style="font-size: .75rem;">Must have at least eight characters</span>
            </div>
            <div class="mb-4">
                <input class="form-control " id="password" name="verify_password" placeholder="Verifiy Password *" type="password">
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Create account</button>
        </div>
    </form>
{% endblock %}
