{% extends "layout.html" %}

{% block title %} Log In {% endblock %} {% block main %}
<form
	autocomplete="off"
	action="/sell"
	method="post"
	class="container bg-white position-relative p-0"
	style="width: 400px"
>
	<div class="row">
		<div class="col-md m-auto">
			<div class="form-group">
			<select name="symbol" class="form-select form-select-lg mb-3">
				<option value='None' disabled selected>Symbol</option>
				{% for option in shares %}
				<option value={{option.symbol}}>{{option.symbol}}</option>
				{% endfor %}
			</select>
			<input
					class="form-control form-control-lg w-30 mt-3"
					name="shares"
					placeholder="Shares"
					type="number"
					value=1
					min="1"
				/>
			</div>
			<div
				id="list-container"
				class="overflow-scroll position-absolute w-100 hide"
				style="height: 15rem"
			>
				<div
					class="list-group-flush position-relative"
					id="match-list"
				></div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary mt-3" type="submit">Quote</button>
</form>

{% endblock %}
