:root {
	--clr-darkBlue: #01306e;
	--clr-gray: #8f8f8fd3;
	--clr-lightGray: #d6d6d6be;
	--clr-black: #333;
	--clr-white: #fff;
}

*,
body {
	color: var(--clr-darkBlue);
	font-family: 'Source Sans Pro', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif !important;
	margin-bottom: 0;
}

img {
	max-width: 100%;
}
a:visited {
	color: var(--clr-lightGray);
}

.fs-big {
	font-size: 4.375rem;
}

.fs-medium {
	font-size: 3rem;
}

.fw-5 {
	font-weight: 500;
}
.fw-6 {
	font-weight: 600;
}
.fw-7 {
	font-weight: 700;
}
.fw-8 {
	font-weight: 800;
}

.fs-7 {
	font-size: 1.2rem;
}

.ls-3 {
	letter-spacing: 3px;
}

.no-padding {
	padding: 0 !important;
}

.text-navy-blue {
	color: #3071fc;
}
.text-dark-blue {
	color: var(--clr-darkBlue);
}

.text-clr-gray {
	color: var(--clr-gray);
}
.text-clr-lightgray {
	color: var(--clr-lightGray);
}

.text-clr-black {
	color: var(--clr-black);
}

.text-clr-white {
	color: var(--clr-white) !important;
}

.text-d-blue:visited {
	color: var(--clr-darkBlue);
}

.bg-header {
	position: relative;
	z-index: 9999;
	background-color: #fff;
}

.bg-hero {
	background: url('assets/images/bg2.png') no-repeat center top;
	background-size: cover;
	overflow: hidden;
}

.btn {
	padding: 0.375rem 1.225rem;
}

.bs-1 {
	box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.bs-2 {
	box-shadow: #81879747 0px 26px 33px -4px;
}

.bs-3 {
	box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.03) 0px 4px 4px,
		rgba(0, 0, 0, 0.03) 0px 8px 8px, rgba(0, 0, 0, 0.03) 0px 16px 16px;
}
.bs-4 {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.form {
	padding: 3rem 20rem 2rem;
}

.no-inline-padding {
	padding-inline: 0;
}

.p-relative {
	position: relative;
}
.py-9 {
	padding: 9rem;
}

.py-10 {
	padding: 5rem 0;
}

.p-90 {
	padding-bottom: 10rem;
}

.p-160 {
	padding-top: 10rem;
}

.search-icon {
	position: absolute;
	right: 20px;
	top: 15px;
	width: 32px;
	height: 32px;
	font-size: 24px;
}
.search-form {
	padding: 1.2rem;
	border-left: 5px solid #3071fc;
	border-radius: unset;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
}

.w-200p {
	max-width: 200px;
}

.statistic__content {
	max-width: 700px;
	margin-inline: auto;
}

#courses-cat {
	padding: 8rem 0;
}

#courses-cat h2 {
	font-size: 2.75rem !important;
	color: #333;
}

#courses-cat a {
	background: #3270fc;
	border-radius: 6px;
	padding: 10px 26px;
	line-height: 20px;
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 12px;
	text-decoration: none;
}
#most-popular {
	padding: 5rem;
	background-color: #f5f5f5;
}

.btn-ligh {
	background-color: #fff;
}

.user-1 {
	background: url('assets/users/head-1.jpeg') no-repeat top center;
}

.user-2 {
	background: url('assets/users/head-2.jpeg') no-repeat top center;
}

.user-3 {
	background: url('assets/users/head-3.jpeg') no-repeat top center;
}

.user-4 {
	background: url('assets/users/head-4.jpeg') no-repeat top center;
}

.user-5 {
	background: url('assets/users/head-5.jpeg') no-repeat top center;
}

.user-6 {
	background: url('assets/users/head-6.jpeg') no-repeat top center;
}
.user-avatar {
	background-size: cover;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.no-margin {
	margin: 0;
}

.bi-star-fill,
.bi-star.icon {
	color: #ffa439;
}

.img-wrapper {
	margin-right: 40px;
	display: block;
	width: 230px;
}

.img-wrapper img {
	border-radius: 15px;
}

.carousel-wrapper {
	padding: 2rem 0rem;
	position: relative;
	background-color: #f5f5f5;
	border-radius: 15px;
}

.carousel-control-prev {
	left: -35px;
	top: 160px;
}
.carousel-control-next {
	right: -35px;
	top: 160px;
}

.carousel-control-next,
.carousel-control-prev {
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	opacity: 1;
	border: 3px solid #f5f5f5;
}
.carousel-control-prev-icon {
	background-image: url('assets/images/chevron-left.svg');
}

.carousel-control-next-icon {
	background-image: url('assets/images/chevron-right.svg');
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 20px;
}

footer {
	margin-top: 15rem;
	padding-top: 10rem;
}

.footer-top-bg {
	top: -120px;
	width: 100%;
	height: 250px;
	padding: 4rem;
	position: absolute;
	max-width: 1300px;
	background: url('assets/images/cta.jpeg') no-repeat top center;
	border-radius: 5px;
	background-size: cover;
}
.footer-top-bg a {
	font-size: 16px;
	font-weight: 600;
	border-radius: 6px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	padding: 15px 35px 12px 35px;
	color: #fff;
	display: inline-block;
	margin-top: 0px;
	line-height: 20px;
	text-decoration: none;
	transition: background-color 0.4s ease, color 0.4s ease;
}

.footer-top-bg a:hover {
	background-color: #fff;
	color: var(--clr-black) !important;
}

.footer-top .bi-arrow-right-short {
	color: #fff;
	font-weight: 700;
	width: 30px;
	transition: color 0.4s ease;
}
.footer-top a:hover .bi-arrow-right-short {
	color: var(--clr-black);
}

.bi-telephone-fill,
.bi-envelope-fill {
	color: var(--clr-lightGray);
}

.newsletter-form .bi-arrow-right {
	font-size: 1.2rem;
	color: white;
	background-color: #3270fc;
	padding: 0.92rem 1.4rem;
	position: absolute;
	right: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 5px;
}
.newsletter-form {
	position: relative;
}

.newsletter-input {
	padding: 1rem;
}
footer p,
footer h1,
footer h2,
footer h3 {
	color: var(--clr-white);
}
